body {
    margin: 25px;
}
h2 {
    font-size: 1.5em;
    font-weight: lighter;
}

#text, #tokens {
    padding-left: 25px;
    padding-right: 25px;
    font-size: 1.25em;
    text-align: justify;
    font-family: sans-serif;
}
